 <ul>
      <!-- <a routerLinkActive="active" routerLink="/team/new">Add Team</a> -->
<!-- <router-outlet></router-outlet> -->
 <button (click)="navigateToAddTeam()">הוספת קבוצה</button>
 @if(teams().length === 0) {
   <p>לא קיימות קבוצות להצגה.</p>
 }
 @for(team of teams();track team.id) {
   <li style="border:1px solid black; margin:10px; padding:10px;">
     <h3>Team ID: {{team.id}}</h3>
     <p>Name: {{team.name}}</p>
     <!-- <app-add-member></app-add-member> -->
         <!-- <app-add-member [teamId]="team.id"></app-add-member> -->
           <button (click)="navigateToProjects(team.id)">כל הפרויקטים</button>

   </li>
 }
</ul>
