<button (click)="navigateToAllProject()">כל הפרויקטים שבקבוצה</button>
<form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">שם פרויקט</label><br />
    <input id="name" formControlName="name" />

    @if (addProjectForm.get('name')?.touched && addProjectForm.get('name')?.invalid) {
    <div style="color:red;">
      שם פרויקט חובה ולפחות 2 תווים.
    </div>
    }
  </div>

  <div>
    <label for="description">תיאור</label><br />
    <input id="description" formControlName="description" />

  </div>

  <button type="submit" [disabled]="addProjectForm.invalid">הוסף פרויקט</button>
</form>