<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="email">אימייל</label><br/>
    <input id="email" formControlName="email" type="email"/>
    
    @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
      <div style="color:red;">
        נא להזין אימייל תקין.
      </div>
    }
  </div>

  <div>
    <label for="password">סיסמה</label><br/>
    <input id="password" formControlName="password" type="password"/>
    
    @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
      <div style="color:red;">
        סיסמה חובה ולפחות 4 תווים.
      </div>
    }
  </div>

  <!-- <div>
    <label for="confirmPassword">אימות סיסמה</label><br/>
    <input id="confirmPassword" formControlName="confirmPassword" type="password"/>
    
    @if (registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
      <div style="color:red;">
        הסיסמאות אינן תואמות.
      </div>
    }
  </div> -->

  <button type="submit" [disabled]="loginForm.invalid">התחבר</button>
</form>
<p>אין לך חשבון? </p>
  <a routerLinkActive="active" routerLink="/register">הרשם</a>
<router-outlet></router-outlet>
